<app-navbar></app-navbar>
<header class="bg-gradient-to-r from-light-blue to-dark-blue">
    <div class="container mx-auto py-12">
        <div class="md:flex justify-between px-8 md:px-0">
            <div class="stake__tabs--nav">
                <div class="bg-light-blue inline-block rounded-full">
                    <ul class="stake__tabs flex list-none pl-0" role="tablist">
                        <li
                            class="stake__tab--trigger cursor-pointer w-full block font--semibold text-sm 2xl:text-small leading-tight uppercase bg-dark-blue px-6 py-2 rounded-full text-light-blue capitalize"
                            role="presentation"
                            [class.active]="viewMode == 'tab1'"
                            rel="tab1"
                            (click)="viewMode ='tab1'"
                        >
                            <!-- <a
                        href="#tabs-home3"
                        class="w-full block font--semibold text-sm 2xl:text-small leading-tight uppercase bg-dark-blue px-6 py-2 rounded-full text-light-blue capitalize"
                        id="tabs-home-tab3"
                        data-bs-toggle="pill"
                        data-bs-target="#tabs-home3"
                        role="tab"
                        aria-controls="tabs-home3"
                        aria-selected="true">
                        Live
                    </a> -->
                            Live
                        </li>
                        <li
                            class="stake__tab--trigger cursor-pointer w-full block font--regular text-sm 2xl:text-small leading-tight uppercase text-dark-blue px-6 py-2 capitalize"
                            role="presentation"
                            [class.active]="viewMode == 'tab2'"
                            rel="tab2"
                            (click)="viewMode ='tab2'"
                        >
                            <!-- <a
                        href="#tabs-profile3"
                        class="w-full block font--regular text-sm 2xl:text-small leading-tight uppercase text-dark-blue px-6 py-2 capitalize"
                        id="tabs-profile-tab3"
                        data-bs-toggle="pill"
                        data-bs-target="#tabs-profile3"
                        role="tab"
                        aria-controls="tabs-profile3"
                        aria-selected="false">
                        Completed
                    </a> -->
                            Completed
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex justify-between">
                <div class="flex items-center md:justify-center w-full my-4 md:my-0 md:mb-12">
                    <label for="toggleB" class="flex items-center cursor-pointer">
                        <!-- toggle -->
                        <div class="relative">
                            <!-- input -->
                            <input type="checkbox" id="toggleB" class="sr-only" />
                            <!-- line -->
                            <div class="block bg-light-blue w-12 h-6 rounded-full"></div>
                            <!-- dot -->
                            <div class="bg-dark-blue absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition"></div>
                        </div>
                        <!-- label -->
                        <div class="ml-3 text-grey font--regular text-xs md:text-sm 2xl:text-small">
                            My Staking Pools
                        </div>
                    </label>
                </div>
                <div class="my-4 md:my-0">
                    <input
                        type="text"
                        class="form-control block w-full px-4 py-2 text-xs md:text-sm 2xl:text-small font--regular text-gray-700 bg-light-blue bg-clip-padding rounded-full transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                        id="exampleFormControlInput1"
                        placeholder="Search pool names"
                    />
                </div>
            </div>
        </div>
        <div class="stake__tabs--content p-8 md:px-0 md:py-8" [ngSwitch]="viewMode" id="tabs-tabContent3">
            <div class="tab-pane fade show active" *ngSwitchCase="'tab1'" id="tabs-home3" role="tabpanel" aria-labelledby="tabs-home-tab3">
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-12">
                        <div class="bg-light-blue overflow-x-auto rounded-xl">
                            <div class="grid grid-cols-12 gap-x-4 lg:gap-6 border-blue border-b">
                                <div class="col-span-12 lg:col-span-8">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <th scope="row" class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--semibold text-dark-blue text-base md:text-lg 2xl:text-medium">Pool 1 Month</p>
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-normal">(Feb 2022)</p>
                                                </th>
                                                <td class="px-4 md:px-6 py-2 md:py-4 hidden md:table-cell">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Reward</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4 hidden md:table-cell">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Deposit Amount</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4 hidden md:table-cell">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Expiry Date</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">-</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-span-12 lg:col-span-4">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">APR</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">12%</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg flex items-center">
                                                        Lockup Period
                                                        <img src="assets/images/question.svg" class="w-3 h-3 md:w-4 md:h-4 ml-2" alt="" />
                                                    </p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">30 days</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <button (click)="togglePoolInfo()">
                                                        <img src="assets/images/down-arrow.svg" class="w-3 h-3 md:w-4 md:h-4" alt="" />
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-span-12" [ngClass]="{'hidden': !showPoolInfo, 'block': showPoolInfo}">
                                    <div class="bg-sky-blue rounded-xl mx-4 md:mx-6 mb-6 p-4 md:p-6">
                                        <div class="grid grid-cols-12 items-center gap-4 lg:gap-12">
                                            <div class="col-span-12 lg:col-span-4">
                                                <div class="md:flex justify-between items-centerpb-2">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Total Pool Amount</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">10,000,000 EKTA</p>
                                                </div>
                                                <div class="flex justify-between items-center space-x-4">
                                                    <div class="w-full bg-progress-blue rounded-full h-2.5 dark:bg-gray-700">
                                                        <div class="bg-dark-blue h-2.5 rounded-full" style="width: 45%;"></div>
                                                    </div>
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">5.01%</p>
                                                </div>
                                            </div>
                                            <div class="col-span-12 lg:col-span-5">
                                                <div class="md:flex justify-around items-center gap-y-4">
                                                    <div>
                                                        <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Pool Entry End Date</p>
                                                        <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">24/02/2022 at 06:30</p>
                                                    </div>
                                                    <div>
                                                        <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Pool Entry End Date</p>
                                                        <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">25/02/2022 at 06:30</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-span-12 lg:col-span-3">
                                                <button type="button" class="bg-transparent-blue px-6 py-2 md:float-right text-dark-blue font--semibold text-sm 2xl:text-base rounded-full">
                                                    Connect to a Wallet
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-x-4 lg:gap-6 border-blue border-b">
                                <div class="col-span-12 lg:col-span-8">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <th scope="row" class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--semibold text-dark-blue text-base md:text-lg 2xl:text-medium">Pool 3 Month</p>
                                                    <!-- <p class="font--regular text-dark-blue text-sm 2xl:text-normal">(Feb 2022)</p>  -->
                                                </th>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Reward</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Deposit Amount</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Expiry Date</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">-</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-span-12 lg:col-span-4">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">APR</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">20%</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg flex items-center">
                                                        Lockup Period
                                                        <img src="assets/images/question.svg" class="w-3 h-3 md:w-4 md:h-4 ml-2" alt="" />
                                                    </p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">60 days</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4 text-right">
                                                    <img src="assets/images/down-arrow.svg" class="w-3 h-3 md:w-4 md:h-4" alt="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-x-4 lg:gap-6 border-blue border-b">
                                <div class="col-span-12 lg:col-span-8">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <th scope="row" class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--semibold text-dark-blue text-base md:text-lg 2xl:text-medium">Pool 5 Month</p>
                                                    <p class="font--regular text-dark-blue text-sm 2xl:text-normal">(March 2022)</p>
                                                </th>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Reward</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Deposit Amount</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Expiry Date</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">-</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-span-12 lg:col-span-4">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">APR</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">80%</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg flex items-center">
                                                        Lockup Period
                                                        <img src="assets/images/question.svg" class="w-3 h-3 md:w-4 md:h-4 ml-2" alt="" />
                                                    </p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">90 days</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4 text-right">
                                                    <img src="assets/images/down-arrow.svg" class="w-3 h-3 md:w-4 md:h-4" alt="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-x-4 lg:gap-6 border-blue border-b">
                                <div class="col-span-12 lg:col-span-8">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <th scope="row" class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--semibold text-dark-blue text-base md:text-lg 2xl:text-medium">Pool 6 Month</p>
                                                    <!-- <p class="font--regular text-dark-blue text-sm 2xl:text-normal">(March 2022)</p>  -->
                                                </th>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Reward</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Deposit Amount</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Expiry Date</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">-</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-span-12 lg:col-span-4">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">APR</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">20%</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg flex items-center">
                                                        Lockup Period
                                                        <img src="assets/images/question.svg" class="w-3 h-3 md:w-4 md:h-4 ml-2" alt="" />
                                                    </p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">180 days</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4 text-right">
                                                    <img src="assets/images/down-arrow.svg" class="w-3 h-3 md:w-4 md:h-4" alt="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-x-4 lg:gap-6 border-blue border-b">
                                <div class="col-span-12 lg:col-span-8">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <th scope="row" class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--semibold text-dark-blue text-base md:text-lg 2xl:text-medium">Pool 1 Month</p>
                                                    <p class="font--regular text-dark-blue text-sm 2xl:text-normal">(Feb 2022)</p>
                                                </th>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Reward</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Deposit Amount</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Expiry Date</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">-</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-span-12 lg:col-span-4">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">APR</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">10%</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg flex items-center">
                                                        Lockup Period
                                                        <img src="assets/images/question.svg" class="w-3 h-3 md:w-4 md:h-4 ml-2" alt="" />
                                                    </p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">220 days</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4 text-right">
                                                    <img src="assets/images/down-arrow.svg" class="w-3 h-3 md:w-4 md:h-4" alt="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 gap-4 lg:gap-6">
                                <div class="col-span-12 lg:col-span-8">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <th scope="row" class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--semibold text-dark-blue text-base md:text-lg 2xl:text-medium">Pool 1 Month</p>
                                                    <p class="font--regular text-dark-blue text-sm 2xl:text-normal">(Feb 2022)</p>
                                                </th>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Reward</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Deposit Amount</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">0</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">Expiry Date</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">-</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-span-12 lg:col-span-4">
                                    <table class="w-full md:h-24 text-sm 2xl:text-small text-left">
                                        <tbody>
                                            <tr class="rounded-xl">
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg">APR</p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">12%</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4">
                                                    <p class="font--regular text-dark-blue text-xs md:text-sm 2xl:text-lg flex items-center">
                                                        Lockup Period
                                                        <img src="assets/images/question.svg" class="w-3 h-3 md:w-4 md:h-4 ml-2" alt="" />
                                                    </p>
                                                    <p class="font--semibold text-dark-blue text-sm md:text-base 2xl:text-normal">365 days</p>
                                                </td>
                                                <td class="px-4 md:px-6 py-2 md:py-4 text-right">
                                                    <img src="assets/images/down-arrow.svg" class="w-3 h-3 md:w-4 md:h-4" alt="" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" *ngSwitchCase="'tab2'" id="tabs-profile3" role="tabpanel" aria-labelledby="tabs-profile-tab3">
                Tab 2 content button version
            </div>
        </div>
        <!-- STAKE MODAL START -->
        <!-- !! remove hidden class for modal pop up -->
        <div class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <div class="fixed inset-0 bg-transparent-blue bg-opacity-75 transition-opacity" aria-hidden="true"></div>
                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                <!-- Stake Modal start -->
                <!-- <div class="relative inline-block align-bottom bg-pale-blue rounded-xl text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full">
                    <div class="p-6">
                        <div class="flex justify-between items-center">
                            <div class="flex justify-between items-center">
                                <h2 class="font--bold text-dark-blue uppercase text-base lg:text-lg 2xl:text-normal">Stake</h2>
                            </div>
                            <div>
                                <img src="assets/images/close.svg" class="w-8 h-8" alt="reflex-finance" />
                            </div>
                        </div>
                        <hr class="border-blue border-b-2 border-solid my-4" />
                        <div class="space-y-4">
                            <div class="md:flex items-center justify-between">
                                <p class="font--regular text-dark-blue text-sm 2xl:text-normal">Pool Name</p>
                                <p class="font--semibold text-dark-blue text-sm 2xl:text-normal">Pool 1 Months</p>
                            </div>
                            <div class="md:flex items-center justify-between">
                                <p class="font--regular text-dark-blue text-sm 2xl:text-normal">Token</p>
                                <p class="font--semibold text-dark-blue text-sm 2xl:text-normal">ZUKI</p>
                            </div>
                            <div class="md:flex items-center justify-between">
                                <p class="font--regular text-dark-blue text-sm 2xl:text-normal">APR</p>
                                <p class="font--semibold text-dark-blue text-sm 2xl:text-normal">150%</p>
                            </div>
                            <div class="md:flex items-center justify-between">
                                <p class="font--regular text-dark-blue text-sm 2xl:text-normal">Lock-up Periode</p>
                                <p class="font--semibold text-dark-blue text-sm 2xl:text-normal">365 Days</p>
                            </div>
                            <div class="md:flex items-center justify-between">
                                <p class="font--regular text-dark-blue text-sm 2xl:text-normal">Max Stake</p>
                                <p class="font--semibold text-dark-blue text-sm 2xl:text-normal">16,265,115.8183s</p>
                            </div>
                            <div class="md:flex items-center justify-between">
                                <p class="font--regular text-dark-blue text-sm 2xl:text-normal">Current Stake</p>
                                <p class="font--semibold text-dark-blue text-sm 2xl:text-normal">0</p>
                            </div>
                        </div>
                    </div>

                    <div class="zuki-field bg-sky-blue p-6">
                        <div class="flex justify-between items-center mb-3">
                            <div class="text-white flex align-items-center">
                                <img src="assets/images/z-coin.svg" width="24" height="24" alt="" />
                                <span class="pl-2 uppercase text-dark-blue font--semibold text-base"> Zuki </span>
                            </div>
                            <p class="text-label-blue font--regular mb-0 text-base font--regular">
                                Balance
                                <span class="pl-2 text-dark-blue font--semibold"> 2.05058</span>
                            </p>
                        </div>
                        <div class="flex p-4 text-sm md:text-base 2xl:text-lg bg-input-blue rounded-xl w-full mb-5">
                            <input type="number" class="font-semibold w-full text-dark-blue bg-input-blue focus:outline-none" placeholder="0.0" />
                            <span class="pointer inline-flex border-1 text-label-blue rounded-full bg-sky-blue items-center px-3 text-sm">
                                Max
                            </span>
                        </div>
                        <div class="md:flex items-center justify-between">
                            <p class="font--regular text-label-blue text-base md:text-sm 2xl:text-normal">Estimated Reward</p>
                            <p class="font--semibold text-dark-blue text-xs md:text-sm 2xl:text-normal">0</p>
                        </div>
                    </div>
                    <div class="p-6 mx-auto">
                        <button type="button" class="bg-dark-blue w-full opacity-50 px-6 py-2 text-white font--semibold text-sm 2xl:text-base rounded-full">
                            Approve Contract
                        </button>
                    </div>
                </div> -->
                <!-- stake modal end -->
               <!-- Waiting for conformation modal -->
               <div class="relative inline-block align-bottom p-8 bg-pale-blue rounded-xl text-left overflow-hidden transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full">
                  <h2 class="font--bold text-dark-blue text-base lg:text-lg 2xl:text-normal">Waiting for confirmation</h2>
                  <hr class="border-blue border-b border-solid my-4" />
                  <div class="w-full flex justify-center my-8">
                     <div class="bt-spinner animate-spin h-32 w-32"></div>
                     <!-- <img src="assets/images/upload.svg" class="h-32 w-32" alt=""> -->
                  </div>
                  <!-- <p class="text-sm font--semibold justify-center items-center text-label-blue flex">View on BscScan <img src="assets/images/link-icon.svg" class="w-3 h-3 ml-2 2xl:w-4 2xl:h-4" alt=""></p> -->
               </div> 
            <!-- Waiting for conformation modal -->
            </div>
        </div>
        <!-- STAKE MODAL END -->
    </div>
</header>
